/*
 * Stylesheet for reset, typography and all elements to be shown or used in wysiwyg
 */
/*
 * Variables
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #ff6900;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #ff6900;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #5f6a72; }

a:visited {
  color: #5f6a72; }

a:hover {
  color: #ff6900; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: "PT Sans", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  color: #36424a; }

#skip-to-nav,
body {
  font-size: 14px;
  line-height: 1.5em; }

/* www.aestheticallyloyal.com/public/optimize-legibility/ */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility; }

h1.title,
h2.title,
h3.title {
  margin: 0; }

/*
 * Headings
 */
h1 {
  font-family: "netto",sans-serif;
  font-weight: normal;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.2em; }

h1.title {
  margin-bottom: 1em; }

h2 {
  font-family: 'netto', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.3em; }

#content .content h2 {
  margin-top: 1.75em;
  margin-bottom: 1em; }

h3 {
  font-family: "PT Sans", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.728em;
  margin-bottom: 0.4em; }

#content .content h3 {
  margin-top: 1.25em;
  margin-bottom: 0.5em; }

h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.5em; }

/*
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 0.7em 0 1.2em; }

blockquote {
  margin: 1em 2em; }

/*
 * Lists
 */
ul,
ol {
  margin-left: 0;
  padding-left: 2em;
  /* LTR */ }

.block ul,
.item-list ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
  /* LTR */ }

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0; }

li {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: disc; }

ul ul {
  list-style-type: circle; }

ul ul ul {
  list-style-type: square; }

ul ul ul ul {
  list-style-type: circle; }

ol {
  list-style-type: decimal; }

ol ol {
  list-style-type: lower-alpha; }

ol ol ol {
  list-style-type: decimal; }

/* ==========================================================================
   special links
   ========================================================================== */
li a.active, a.active, a:active {
  color: #5f6a72; }

a.more-link {
  color: #ff6900;
  text-decoration: none; }

a.more-link:hover {
  color: #ff6900;
  text-decoration: underline; }

h1 a:link, h2 a:link, h3 a:link {
  color: inherit;
  text-decoration: none; }

h1 a:visited, h2 a:visited, h3 a:visited {
  color: inherit;
  text-decoration: none; }

h1 a:hover, h2 a:hover, h3 a:hover {
  color: #ff6900;
  text-decoration: underline; }

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0; }

table {
  font-size: inherit; }

.image-left {
  float: left;
  margin: 0 15px 10px 0; }

.image-right {
  float: right;
  margin: 0 0 10px 15px; }
