/*
 * Main stylesheet containing layout and style overrides
 */
/*
 * Variables
 */
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 1.5em; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
  top: 4px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px; }

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px; } }
/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0; } }
.form-actions a,
a.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #dddddd url(../images/button.png) repeat-x;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: #fff 0 1px 1px;
  width: auto;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px; }

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px; }

.form-actions a:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #eee;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.form-actions a:active,
a.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: #eee;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(255, 255, 255, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  /* IE10+ */
  background: linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  background: -moz-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 30%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 190, 190, 0.3)), color-stop(30%, rgba(255, 255, 255, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 30%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 30%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 30%);
  /* IE10+ */
  background: linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 30%);
  /* W3C */
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 1.8em;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

.cke_skin_kama .cke_contents iframe,
textarea {
  border-bottom-left-radius: 0;
  -moz-border-radius-bottom-left: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottom-right: 0;
  -webkit-border-bottom-right-radius: 0;
  background: -moz-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 10%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 190, 190, 0.3)), color-stop(10%, rgba(255, 255, 255, 0.3)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 10%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 10%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 10%);
  /* IE10+ */
  background: linear-gradient(top, rgba(190, 190, 190, 0.3) 0%, rgba(255, 255, 255, 0.3) 10%);
  /* W3C */ }

select[multiple] {
  border-top-right-radius: 0;
  -moz-border-radius-top-right: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottom-right: 0;
  -webkit-border-bottom-right-radius: 0; }

/**
 * Separate rule for Firefox.
 * Separate rule for IE, too.
 * Cannot stack with WebKit's.
 */
::-webkit-input-placeholder {
  color: #888; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888; }

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #ff6900 0 0 4px;
  -webkit-box-shadow: #ff6900 0 0 4px;
  box-shadow: #ff6900 0 0 4px;
  /* for Opera */
  z-index: 1; }

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee; }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default; }

textarea,
select[size],
select[multiple] {
  height: auto; }

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0; }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px; }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0; } }
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal; }

/* =============================================================================
	Author:
	========================================================================== */
/* =============================================================================
	Layout
	========================================================================== */
/* total with of page */
/* number of columns */
/* margin between columns */
/* math magic */
/* `Containers
----------------------------------------------------------------------------------------------------*/
/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
/* `Prefix Extra Space
----------------------------------------------------------------------------------------------------*/
/* `Suffix Extra Space
----------------------------------------------------------------------------------------------------*/
/* `Push Space
----------------------------------------------------------------------------------------------------*/
/* `Pull Space
----------------------------------------------------------------------------------------------------*/
#page {
  margin-left: auto;
  margin-right: auto;
  width: 320px; }

#main {
  zoom: 1; }
  #main:before {
    content: "";
    display: table; }
  #main:after {
    content: "";
    display: table;
    clear: both; }

#toolbar,
#header,
#navigation,
#content,
#sidebar,
#footer-links-first,
#footer-links-second,
#footer-links-third,
#footer-links-fourth,
#footer {
  display: inline;
  float: left;
  position: relative;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px; }

#footer-columns {
  zoom: 1; }
  #footer-columns:before {
    content: "";
    display: table; }
  #footer-columns:after {
    content: "";
    display: table;
    clear: both; }

/*
 * Variables
 */
/*
 * Drupal specific
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff; }

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0; }

h1#site-name,
div#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em; }

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none; }

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline; }

.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: inherit; }

#content .tabs li,
#content .links li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
  padding: 0;
  background: none; }

dt {
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0 2em;
  padding: 0; }

/* ==========================================================================
   Tabs
   ========================================================================== */
div.tabs {
  margin: 0 0 11px;
  font-size: 0.9em; }

#content ul.tabs.primary {
  display: block;
  margin: 0 0 1.5em 0;
  padding: 0;
  border-bottom: solid 1px #ddd;
  zoom: 1; }
  #content ul.tabs.primary:before {
    content: "";
    display: table; }
  #content ul.tabs.primary:after {
    content: "";
    display: table;
    clear: both; }

#content ul.tabs.primary li {
  display: block;
  width: auto;
  height: 28px;
  padding: 0;
  float: left;
  margin-bottom: 0;
  background: none;
  overflow: visible;
  position: relative; }

#content ul.tabs.primary li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 28px;
  padding: 0px 20px;
  line-height: 30px;
  border: solid 1px #ddd;
  border-width: 1px 0 0 1px;
  margin: 0;
  background-color: #f5f5f5; }

#content ul.tabs.primary li a:hover,
#content ul.tabs.primary li a.active {
  background: #fff;
  height: 28px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-right-width: 1px;
  margin: 0 -1px 0 0;
  color: #111;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

#content ul.tabs.primary li:first-child a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px; }

#content ul.tabs.primary li:last-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; }

#content ul.tabs.secondary {
  border: none;
  padding: 0;
  margin: 0; }
  #content ul.tabs.secondary li {
    border: none;
    margin-right: 0.6em; }
    #content ul.tabs.secondary li a {
      border: 1px solid #DDD;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 0.1em 1em;
      display: inline-block; }
      #content ul.tabs.secondary li a:hover {
        background: #DDD; }

/* ==========================================================================
   Tables
   ========================================================================== */
th {
  text-align: left;
  /* LTR */
  padding: 0.2em 0.6em;
  border-bottom: none;
  border-right: 1px solid #FFF;
  color: #FFF;
  background-color: #5F6A72; }

tbody {
  border-top: none; }

td {
  padding: 0.2em 0.6em;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background-color: #EFEFF4; }

tr.drag,
tr.drag td {
  background-color: #fffff0; }

tr.drag-previous,
tr.drag-previous td {
  background-color: #ffd; }

/* ==========================================================================
   Drupal Forms
   ========================================================================== */
.form-item {
  margin: 0; }

.form-actions,
.form-type-item {
  margin: 0.6em 20px; }

.filter-wrapper {
  border: 0; }

.form-type-textfield,
.form-type-file,
.form-type-managed-file,
.form-type-select,
.form-type-password,
.form-type-textarea,
.form-type-checkbox,
.form-type-radio {
  padding: 0.6em 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.form-type-textfield:hover,
.form-type-file:hover,
.form-type-managed-file:hover,
.form-type-select:hover,
.form-type-password:hover,
.form-type-textarea:hover,
.form-type-checkbox:hover,
.form-type-radio:hover {
  background-color: #f6f6f6; }

.container-inline .form-item {
  padding: 0;
  margin-right: 1em; }

.container-inline .form-item:hover {
  background-color: transparent; }

#content ul.vertical-tabs-list {
  padding-left: 0; }

#content li.vertical-tab-button {
  background-image: none;
  padding: 0; }

/* ==========================================================================
   Node
   ========================================================================== */
.node-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; }
  *:first-child + html .node-unpublished div.unpublished > * {
    position: relative; }

/* ==========================================================================
   Comments
   ========================================================================== */
#comments {
  margin: 1.5em 0; }
  #comments h2.title {
    padding-bottom: 0.2em;
    border-bottom: 1px dotted #87a5b9; }

.comment.comment-preview {
  background-color: #ffffea; }
.comment .new {
  color: #c00; }

.comment-unpublished div.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; }
  *:first-child + html .comment-unpublished div.unpublished > * {
    position: relative; }

/* ==========================================================================
	Site specific overrides
	========================================================================== */
/* ==|== media queries ======================================================
	PLACEHOLDER Media Queries for Responsive Design.
	These override the primary ('mobile first') styles
	Modify as content requires.
	========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
  /* total with of page */
  /* number of columns */
  /* margin between columns */
  /* math magic */
  #page {
    margin-left: auto;
    margin-right: auto;
    width: 480px; }

  #content {
    display: inline;
    float: left;
    position: relative;
    width: 470px;
    margin-left: 5px;
    margin-right: 5px; }

  .sidebar #content {
    display: inline;
    float: left;
    position: relative;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px; }

  #sidebar {
    display: inline;
    float: left;
    position: relative;
    width: 110px;
    margin-left: 5px;
    margin-right: 5px; }

  #header,
  #toolbar,
  #navigation,
  #footer {
    display: inline;
    float: left;
    position: relative;
    width: 470px;
    margin-left: 5px;
    margin-right: 5px; }

  #footer-links-first,
  #footer-links-second,
  #footer-links-third,
  #footer-links-fourth {
    display: inline;
    float: left;
    position: relative;
    width: 230px;
    margin-left: 5px;
    margin-right: 5px; } }
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
  /* total with of page */
  /* number of columns */
  /* margin between columns */
  /* math magic */
  #page {
    margin-left: auto;
    margin-right: auto;
    width: 780px; }

  #content {
    display: inline;
    float: left;
    position: relative;
    width: 760px;
    margin-left: 10px;
    margin-right: 10px; }

  .sidebar #content {
    display: inline;
    float: left;
    position: relative;
    width: 565px;
    margin-left: 10px;
    margin-right: 10px; }

  #sidebar {
    display: inline;
    float: left;
    position: relative;
    width: 175px;
    margin-left: 10px;
    margin-right: 10px; }

  #header,
  #toolbar,
  #navigation,
  #footer {
    display: inline;
    float: left;
    position: relative;
    width: 760px;
    margin-left: 10px;
    margin-right: 10px; }

  #footer-links-first,
  #footer-links-second,
  #footer-links-third,
  #footer-links-fourth {
    display: inline;
    float: left;
    position: relative;
    width: 175px;
    margin-left: 10px;
    margin-right: 10px; } }
@media only screen and (min-width: 992px) {
  /* total with of page */
  /* number of columns */
  /* margin between columns */
  /* math magic */
  #page {
    margin-left: auto;
    margin-right: auto;
    width: 960px; }

  #content {
    display: inline;
    float: left;
    position: relative;
    width: 940px;
    margin-left: 10px;
    margin-right: 10px; }

  .sidebar #content {
    display: inline;
    float: left;
    position: relative;
    width: 700px;
    margin-left: 10px;
    margin-right: 10px; }

  #sidebar {
    display: inline;
    float: left;
    position: relative;
    width: 220px;
    margin-left: 10px;
    margin-right: 10px; }

  #header,
  #toolbar,
  #navigation,
  #footer {
    display: inline;
    float: left;
    position: relative;
    width: 940px;
    margin-left: 10px;
    margin-right: 10px; }

  #footer-links-first,
  #footer-links-second,
  #footer-links-third,
  #footer-links-fourth {
    display: inline;
    float: left;
    position: relative;
    width: 220px;
    margin-left: 10px;
    margin-right: 10px; } }
/* ==|== print styles =======================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
	========================================================================== */
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
