/*
 * Variables
 */

// To turn off support for IE6 or IE7, set these variables to false.
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;

$base-font          : 'PT Sans', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
$font-color         : #36424a;
$font-size          : 14px;
$line-height        : 1.5em;

$link-color         : #5f6a72;
$link-special-color : #77B800;
$link-hover-color   : #ff6900;
$link-active-color  : #5f6a72;
$wk-green           : #96BF0D;

$border-color       : #87A5B9;
$border-color-light : #C3CDD1;