@import 'base';

/*
 * Drupal specific
 */

#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}


h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

.item-list ul li /* Drupal override */ {
  margin: 0;
  padding: 0;
  list-style: inherit;
}

#content .tabs li,
#content .links li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf /* Drupal override */ {
  margin: 0;
  padding: 0;
  background: none;
}

dt {
  margin: 0;
  padding: 0;
}

dd {
  margin: 0 0 0 2em;
  padding: 0;
}

/* ==========================================================================
   Tabs
   ========================================================================== */

div.tabs {
  margin: 0 0 11px;
  font-size: 0.9em;
}

#content ul.tabs.primary {
  display: block;
  margin: 0 0 1.5em 0;
  padding: 0;
  border-bottom: solid 1px #ddd;
  @include clearfix;
}
#content ul.tabs.primary li {
  display: block;
  width: auto;
  height: 28px;
  padding: 0;
  float: left;
  margin-bottom: 0;
  background: none;
  overflow: visible;
  position: relative;
}
#content ul.tabs.primary li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 28px;
  padding: 0px 20px;
  line-height: 30px;
  border: solid 1px #ddd;
  border-width: 1px 0 0 1px;
  margin: 0;
  background-color: #f5f5f5;
}
#content ul.tabs.primary li a:hover,
#content ul.tabs.primary li a.active {
  background: #fff;
  height: 28px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-right-width: 1px;
  margin: 0 -1px 0 0;
  color: #111;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#content ul.tabs.primary li:first-child a {
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px; 
}
#content ul.tabs.primary li:last-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; 
}

#content ul.tabs.secondary {
  border: none;
  padding: 0;
  margin: 0;
  li {
    border: none;
    margin-right: 0.6em;
    a {
      border: 1px solid #DDD;
      @include rounded-all(4px);
      padding: 0.1em 1em;
      display: inline-block;
      &:hover {
        background: #DDD;
      }
    }
    
  }
}
/* ==========================================================================
   Tables
   ========================================================================== */

th {
  text-align: left; /* LTR */
  padding: 0.2em 0.6em;
  border-bottom: none;
  border-right: 1px solid #FFF;
  color: #FFF;
  background-color: #5F6A72;
}

tbody {
  border-top: none;
}

thead {
}

tfoot {
}

caption {
}

colgroup {
}

col {
}

tr {
}

td {
  padding: 0.2em 0.6em;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  background-color: #EFEFF4;
}
tr.drag,
tr.drag td {
  background-color: #fffff0;
}
tr.drag-previous,
tr.drag-previous td {
  background-color: #ffd;
}

/* ==========================================================================
   Drupal Forms
   ========================================================================== */

.form-item {
  margin: 0;
}
.form-actions,
.form-type-item {
  margin: 0.6em 20px;
}
.filter-wrapper {
  border: 0;
}

.form-type-textfield,
.form-type-file,
.form-type-managed-file,
.form-type-select,
.form-type-password,
.form-type-textarea,
.form-type-checkbox,
.form-type-radio {
    padding: 0.6em 20px;
    @include rounded-all(5px);
}

.form-type-textfield:hover,
.form-type-file:hover,
.form-type-managed-file:hover,
.form-type-select:hover,
.form-type-password:hover,
.form-type-textarea:hover,
.form-type-checkbox:hover,
.form-type-radio:hover {
    background-color: #f6f6f6;
}

.container-inline .form-item {
  padding: 0;
  margin-right: 1em;
}
.container-inline .form-item:hover {
  background-color: transparent;
}
#content ul.vertical-tabs-list {
  padding-left: 0;
}

#content li.vertical-tab-button {
  background-image: none;
  padding: 0;
}
/* ==========================================================================
   Node
   ========================================================================== */
.node { // Node wrapper

  .preview & { // Preview of the content before submitting new or updated content
    // background-color: #ffffea; // Drupal core uses a #ffffea background
  }

  &.node-promoted { // A node that has been promoted to the front page
  }

  &.node-sticky { // A sticky node (displayed before others in a list)
  }

  &.node-by-viewer { // A node created by the current user
  }

  &.node-teaser { // A node displayed as teaser
  }

  // All nodes are given a node-FOO class that describes the type of content that
  // it is. If you create a new content type called "my-custom-type", it will
  // receive a "node-my-custom-type" class.
  &.node-page { // Page content node
  }

  &.node-article { // Article content node
  }

  h2.node-title { // Node title
  }

  .user-picture { // The picture of the node author
  }

  .submitted { // The "posted by" information
  }

  .content { // Node's content wrapper
  }

  ul.links { // Node links. See also the ul.links declaration in the pages.css.
  }
}

.node-unpublished { // Unpublished nodes
  // background-color: #fff4f4; // Drupal core uses a #fff4f4 background

  div.unpublished { // The word "Unpublished" displayed underneath the content.
    @include unpublished-div;
  }
}

/* ==========================================================================
   Comments
   ========================================================================== */
#comments { // Wrapper for the list of comments and its title
  margin: 1.5em 0;

  h2.title { // Heading for the list of comments
    padding-bottom: 0.2em;
    border-bottom: 1px dotted $border-color;
  }

  h2.comment-form { // Heading for the comment form
  }
}

.comment { // Wrapper for a single comment

  &.comment-preview { // Preview of the comment before submitting new or updated comment
    background-color: #ffffea; // Drupal core will use a #ffffea background. See #1110842
  }

  &.new { // A new comment since the user last viewed the page.
  }

  &.first { // The first comment in the list of comments
  }

  &.last { // The last comment in the list of comments
  }

  &.odd { // An odd-numbered comment in the list of comments
  }

  &.even { // An even-numbered comment in the list of comments
  }

  &.comment-by-anonymous { // A comment created by an anonymous user
  }

  &.comment-by-node-author { // A comment created by the node's author
  }

  &.comment-by-viewer { // A comment created by the current user
  }

  h3.comment-title { // Comment title
  }

  .new { // "New" marker for comments that are new for the current user
    color: #c00;
  }

  .user-picture { // The picture of the comment author
  }

  .submitted { // The "posted by" information
  }

  .content { // Comment's content wrapper
  }

  .user-signature { // The user's signature
  }

  ul.links { // Comment links. See also the ul.links declaration in the pages.css.
  }
}

.indented { // Nested comments are indented
  // margin-left: 25px; // Drupal core uses a 25px left margin
}

.comment-unpublished { // Unpublished comments
  // background-color: #fff4f4; // Drupal core uses a #fff4f4 background

  div.unpublished { // The word "Unpublished" displayed underneath the content.
    @include unpublished-div;
  }
}