/*
 * Stylesheet for reset, typography and all elements to be shown or used in wysiwyg
 */

@import 'base';

@import 'reset';


body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: $base-font;
  color: $font-color;
}

#skip-to-nav,
body {
  font-size: $font-size;
  line-height: $line-height;
}

/* www.aestheticallyloyal.com/public/optimize-legibility/ */
h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
}

/*
 * Headings
 */

h1 {
  font-family: "netto",sans-serif;
  font-weight: normal;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 0.2em;
}

h1.title {
  margin-bottom: 1em;
}

h2 {
  font-family: 'netto', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

#content .content h2 {
  margin-top: 1.75em;
  margin-bottom: 1em;
}

h3 {
  font-family: $base-font;
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.728em;
  margin-bottom: 0.4em;
}

#content .content  h3 {
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
}

/*
 * Block-level elements
 */
p,
ul,
ol,
dl,
pre,
table,
fieldset {
  margin: 0.7em 0 1.2em;
}

blockquote {
  margin: 1em 2em;
}

/*
 * Lists
 */
ul,
ol {
  margin-left: 0;
  padding-left: 2em; /* LTR */
}

.block ul,
.item-list ul /* Drupal overrides */ {
  margin: 1em 0;
  padding: 0 0 0 2em; /* LTR */
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }



/* ==========================================================================
   special links
   ========================================================================== */

li a.active, a.active, a:active {
  color: $link-active-color;
}

a.more-link { color: $link-hover-color; text-decoration: none;}

a.more-link:hover { color: $link-hover-color; text-decoration: underline;}

h1 a:link, h2 a:link, h3 a:link {  color: inherit; text-decoration: none;}
h1 a:visited, h2 a:visited, h3 a:visited { color: inherit; text-decoration: none;}
h1 a:hover, h2 a:hover, h3 a:hover { color: $link-hover-color; text-decoration: underline;}

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}

table { font-size:inherit; }

.image-left {
  float: left;
  margin: 0 15px 10px 0;
}
.image-right {
  float: right;
  margin: 0 0 10px 15px;
}

