/*
 * Main stylesheet containing layout and style overrides
 */

@import 'base';

@import 'utilities';

@import 'forms';


/* =============================================================================
	Author:
	========================================================================== */
	

/* =============================================================================
	Layout
	========================================================================== */

$grid_width       : 320px; /* total with of page */ 
$columns          : 1; /* number of columns */ 
$col_margin       : 20px; /* margin between columns */ 
$grid_debug       : false;

/* math magic */ 
$col_width        : ($grid_width - (($col_margin * 2) * $columns)) / $columns; 
$col_total_width  : $col_width + ($col_margin * 2);

@import 'grid';

#page {
	@include container;
}

#main {
	@include clearfix;
}

#toolbar,
#header,
#navigation,
#content,
#sidebar,
#footer-links-first,
#footer-links-second,
#footer-links-third,
#footer-links-fourth,
#footer {
	@include col(1);
}

#footer-columns {
	@include clearfix;
}

// 
@import 'drupal';

/* ==========================================================================
	Site specific overrides
	========================================================================== */



/* ==|== media queries ======================================================
	PLACEHOLDER Media Queries for Responsive Design.
	These override the primary ('mobile first') styles
	Modify as content requires.
	========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
	$grid_width       : 480px; /* total with of page */ 
	$columns          : 8; /* number of columns */ 
	$col_margin       : 5px; /* margin between columns */

	/* math magic */ 
	$col_width        : ($grid_width - (($col_margin * 2) * $columns)) / $columns; 
	$col_total_width  : $col_width + ($col_margin * 2);

	#page {
		@include container;
	}

	#content {
		@include col(8);
	}
	.sidebar #content {
		@include col(6);
	}
	#sidebar {
		@include col(2);
	}

	#header,
	#toolbar,
	#navigation,
	#footer {
		@include col(8);
	}

	#footer-links-first,
	#footer-links-second,
	#footer-links-third,
	#footer-links-fourth {
		@include col(4);
	}
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
	$grid_width       : 780px; /* total with of page */ 
	$columns          : 12; /* number of columns */ 
	$col_margin       : 10px; /* margin between columns */

	/* math magic */ 
	$col_width        : ($grid_width - (($col_margin * 2) * $columns)) / $columns; 
	$col_total_width  : $col_width + ($col_margin * 2);

	#page {
		@include container;
	}

	#content {
		@include col(12);
	}
	.sidebar #content {
		@include col(9);
	}
	#sidebar {
		@include col(3);
	}

	#header,
	#toolbar,
	#navigation,
	#footer {
		@include col(12);
	}

	#footer-links-first,
	#footer-links-second,
	#footer-links-third,
	#footer-links-fourth {
		@include col(3);
	} 
}

@media only screen and (min-width: 992px) {
	$grid_width       : 960px; /* total with of page */ 
	$columns          : 12; /* number of columns */ 
	$col_margin       : 10px; /* margin between columns */

	/* math magic */ 
	$col_width        : ($grid_width - (($col_margin * 2) * $columns)) / $columns; 
	$col_total_width  : $col_width + ($col_margin * 2);
	
	#page {
		@include container;
	}

	#content {
		@include col(12);
	}
	.sidebar #content {
		@include col(9);
	}
	#sidebar {
		@include col(3);
	}

	#header,
	#toolbar,
	#navigation,
	#footer {
		@include col(12);
	}

	#footer-links-first,
	#footer-links-second,
	#footer-links-third,
	#footer-links-fourth {
		@include col(3);
	} 
}


/* ==|== print styles =======================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
	========================================================================== */

@import 'print';
